header,body {
    text-align: center;
}

body {
    background-color: #459EDE;
}
section {
    width: fit-content;
    display: block;
    margin: 0 auto;
    text-align: left;
}

#quote{
    width: 500px;
    text-align: center;
    display: block;
    margin: 0 auto;
}