@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Honk&display=swap');

body {
        font-family: 'Caveat', 'Honk';
}
.nav_link {
        padding: 10px;
        color: black;
        font-size: 1.3em
}
a {
        color:black;
}
nav a{
        text-decoration: none;
}
a:hover {
        color: white;
        background-color:goldenrod
}
nav{
        display: flex;
        justify-content: center;
}
main h1{
        text-align: center;
}
img{
        display: block;
        margin: 0 auto;
        width: 20%
}
#content{
        max-width: 2000 px;
        background-color: lightgoldenrodyellow
}
header, footer{
        background-color: white;
        padding: 20px;
}
p{
        width: 45%;
        margin: 20px auto;
        text-align: center;
        padding: 10px;
        font-size: 120%;
        line-height: 1.25em;
        background-color: white;
        border: 10px black;
        border-radius: 10px;
}